<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data</title>
</head>
<body>
    <table>
        <tr>
            <td>@Request["profilePicture"]</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>@Request["name"]</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>@Request["username"]</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td>@Request["dob"]</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>@Request["gender"]</td>
        </tr>
        <tr>
            <td>Blood Group:</td>
            <td>@Request["bloodGroup"]</td>
        </tr>
    </table>
</body>
</html>
